
    .Div_A {
        background-color: #2bc00d;
        width: 700px;
        height: 800px;

    }

    .Div_B {
        background-color: #c5410d;
        width: 70%;
        height: 70%;
    }

    .Div_C {
        width: 60%;
        height: 70vh;
        background-color: rgb(168, 10, 31);

    }

    .Div_C {
        width: 50vw;
        height: 65%;
        background-color: rgb(2, 37, 46);
    }

    .P_1 {
        color: rgb(20, 54, 4);
        background-color: rgb(45, 64, 66);
        font-size: 90px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold"

    }
